<form action="/recipes" method="post">
<label for ="recipe_name"> Recipe Name: </label>
<input type="text" id="recipe_name" name="recipe[name]"></input>
<label for ="recipe_ingredients"> Recipe Ingredients: </label>
<input type="text" id="recipe_ingredients" name="recipe[ingredients]"></input>
<label for ="recipe_cook_time"> Recipe Cook Time: </label>
<input type="text" id="recipe_cook_time" name="recipe[cook_time]"></input>
<input id="Submit" type="submit">
</form>